
*ino.bootloader.bin
*ino.bootloader.bin
*ino.elf
*ino.map
*ino.merged.bin
*ino.partitions.bin
*.key
*.pem
*.crt
data/
include/
.vscode
.pio/build/esp32dev/*
!.pio/build/esp32dev/firmware.bin
*.checksum
.vscode/
.pio/libdeps/